<h3 class="head-text">
    Posts from "{{postsListCtrl.currentUser.name}}"
    <a ng-href="mailto:{{postsListCtrl.currentUser.email}}">{{postsListCtrl.currentUser.email}}</a>
</h3>
<a ng-click="postsListCtrl.previusState()">Back to users list</a>
<div class="post-card" ng-repeat="post in postsListCtrl.posts" ui-sref="postComments({id: post.id})">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">
        <div class="body-item">
            {{post.body}}
        </div>
    </div>
</div>