@import url('https://fonts.googleapis.com/css?family=Comfortaa|Raleway');
@import "variables";

//globals
body {
  color: $basicTextColor;
  font-family: 'Raleway', sans-serif;
  font-size: $basicFontSize;
  width: 100%;
  a {
    color: #4f5dee;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
  }
}

//cards
.card {
    margin: 30px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-header {
      font-size: $basicFontSize;
      background: $basicThemeColor;
      padding: 10px 20px;
    }
    .card-body {
      padding: 10px 20px;
    }
}

.post-card {
  @extend .card;
  .card-header {
      background: #895eee;
  }
}
.comment-card {
  @extend .card;
  cursor: default;
  .card-header {
    background: #b441ee;
  }
}
.container {
  max-width: 960px;
  margin: 0 auto;
}


//helpers
.text-center {
  text-align: center;
}
.text-bolder {
  font-weight: 700;
}

.head-text {
  @extend .text-center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: $basicFontSize * 1.8;
  font-family: 'Comfortaa', cursive;
}


.loader {
  margin: calc(50% - 200px) auto;
  border: 25px solid #f3f3f3;
  border-top: 25px solid $basicThemeColor;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}